

<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
        <div class="navbar-text col-lg-10 col-sm-9 col-xs-7">
            <div>
                <a href="#menu-toggle" class="btn btn-default pull-left" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
                <a class=" btn oota" href="#/">OOTA - Admin</a>
            </div>
        </div>
        <div class="logout-login navbar-text pull-right" style="margin-right: 2%;">
            <button ng-click="model.logout()" class="btn btn-success">Logout</button>

        </div>

    </div>
    </div>
</nav>


<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!--
            <div class="profile-edit-button">
                <a href="#/editProfile"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
            </div>
            -->


            <li>
                <a ng-click="model.findAllUsers()">USERS</a>
            </li>
            <li>
                <a ng-click="model.findAllOrders()">ORDERS</a>
            </li>
            <li>
                <a ng-click="model.findAllRestaurants()">RESTAUTANTS</a>
            </li>
            <li>
                <a ng-click="model.createUserPage()">CREATE USER</a>
            </li>
            <li>
                <a ng-click="model.findAllComments()">USER COMMENTS</a>
            </li>
        </ul>
    </div>


    <div id="page-content-wrapper">
        <div ng-switch="model.currentSelection">
            <div ng-switch-when="users">
                <div class="row">
                    <h3> Users </h3>
                    <hr>

                    <h4>Search by</h4>
                    <div class="alert alert-danger" ng-show="model.error">
                        {{model.error}}
                    </div>
                    <div class="alert alert-success" ng-show=" model.message">
                        {{model.message}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <input ng-model="SearchUserId"
                               placeholder="User Id"
                               type="text" class="form-control">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        <div class="input-group">
                            <input ng-model="SearchUserName"
                                   placeholder="Username"
                                   type="text" class="form-control">

                            <span class="input-group-btn">
                            <a ng-click="model.searchUser(SearchUserId,SearchUserName)"
                               class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search widget-class"></span>
                            </a>
                            </span>
                        </div>
                    </div>

                </div>
                <br>

                <div class="row">
                    <ul class="list-group">
                        <li ng-repeat="user in model.users" class="list-group-item">
                            <!-- <a href="#/user/{{websiteNewController.userId}}/website/{{website._id}}/page"> -->
                            <div class="input-group">
                            <a href="/#/userProfile/{{user.username}}">
                                {{user.username}} {{ user.lastname}}
                            </a>
                            <span class="input-group-btn">
                            <a ng-click="model.editProfile(user)" class="btn  pull-right" type="button">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                            </span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>



        <div ng-switch-when="orders">

                <div class="row">
                    <h3> Orders </h3>
                    <hr>

                    <h4>Search by</h4>
                    <div class="alert alert-danger" ng-show="model.error">
                        {{model.error}}
                    </div>
                    <div class="alert alert-success" ng-show=" model.message">
                        {{model.message}}
                    </div>

                    <div >
                        <div class="input-group">
                            <input ng-model="SearchOrderId"
                                   placeholder="Order Id"
                                   type="text" class="form-control">

                            <span class="input-group-btn">
                            <a ng-click="model.searchOrder(SearchOrderId)"
                               class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search widget-class"></span>
                            </a>
                            </span>
                        </div>
                    </div>


                <br>

                <div class="row container-fluid">

                        <table class="table table-striped table-bordered">
                            <tbody>
                            <col width="20%" />
                            <col width="20%" />
                            <col width="20%" />
                            <col width="20%" />
                            <col width="15%" />
                            <col width="5%" />
                            <tr>
                                <th>Order Id</th>
                                <th>Restaurant Name</th>
                                <th>Orderer</th>
                                <th>Deliverer</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                            <tr ng-repeat="order in model.orders">

                                <td>{{order._id}}</td>
                                <td>{{order.restaurantName}}</td>
                                <td>{{order._orderer}}</td>
                                <td>{{order._deliverer}}</td>
                                <td>{{order.deliveryStatus}}</td>
                                <td><span class="input-group-btn">
                            <a ng-click="model.editMyOrder(order)" class="btn  pull-right" type="button">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                            </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        <div ng-switch-when="restaurants">
            <div class="row">
                <h3> Restaurants </h3>
                <hr>

                <h4>Search by</h4>
                <div class="alert alert-danger" ng-show="model.error">
                    {{model.error}}
                </div>
                <div class="alert alert-success" ng-show=" model.message">
                    {{model.message}}
                </div>

                <div >
                    <div class="input-group">
                        <input ng-model="SearchRestId"
                               placeholder="Restaurant Id"
                               type="text" class="form-control">

                        <span class="input-group-btn">
                            <a ng-click="model.searchRestaurant(SearchRestId)"
                               class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search widget-class"></span>
                            </a>
                            </span>
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div>
                    <ul class="list-group">
                        <li ng-repeat="restaurant in model.restaurants" class="list-group-item">
                            <!-- <a href="#/user/{{websiteNewController.userId}}/website/{{website._id}}/page"> -->
                            <div class="input-group">
                            <a>
                                {{restaurant.username}}
                            </a>
                                <span class="input-group-btn">
                                <a ng-click="model.editMyRestaurant(restaurant)" class="btn pull-right" >
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                                </span>
                            </div>
                                <!--
                                <a ng-click="model.editProfile(user)" class="btn  pull-right" type="button">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>-->


                        </li>
                    </ul>
                </div>
            </div>
        </div>

            <div ng-switch-when="commentsPage">

                <div class="row">
                    <h3> Comments </h3>
                    <hr>


                    <div class="alert alert-danger" ng-show="model.error">
                        {{model.error}}
                    </div>
                    <div class="alert alert-success" ng-show=" model.message">
                        {{model.message}}
                    </div>

                    <br>

                    <div class="row container-fluid">

                        <table class="table table-striped table-bordered">
                            <tbody>
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="35%" />
                            <col width="5%" />
                            <tr>
                                <th>Comment Id</th>
                                <th>Given By</th>
                                <th>Received By</th>
                                <th>Order Id</th>
                                <th>Comment</th>
                                <th>Delete</th>
                            </tr>
                            <tr ng-repeat="comment in model.comments">

                                <td>{{comment._id}}</td>
                                <td>{{comment.feedback_giver_id}}</td>
                                <td>{{comment.feedback_reciever_id}}</td>
                                <td>{{comment.order_id}}</td>
                                <td>{{comment.comment}}</td>
                                <td><span class="input-group-btn">
                            <a ng-click="model.deleteComment(comment._id)" class="btn  pull-right" type="button">
                                <span class="pull-right glyphicon glyphicon-trash"></span>
                            </a>
                            </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        <div ng-switch-when="editUser">
            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>
            <div class="alert alert-success" ng-show=" model.message">
                {{model.message}}
            </div>

            <form action="{{model.uploadURL}}"  method="post" enctype="multipart/form-data">
                <input name="uid" value="model.editUser._id" style="display:none">

                <label for="usernameEdit">Username</label>
                <h2 ng-model="model.editUser.username" id="usernameEdit" > {{model.editUser.username}}</h2>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" ng-model="model.editUser.email"  class="form-control" id="email" placeholder="alice@wonderland.com">
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" ng-model="model.editUser.firstName" class="form-control" id="first-name" placeholder="Alice">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" ng-model="model.editUser.lastName" class="form-control" id="last-name" placeholder="Wonderland">
                </div>
                <div class="form-group">
                    <label for="phone-no">Phone Number</label>
                    <input type="tel" ng-model="model.editUser.phone" class="form-control" id="phone-no" placeholder="Wonderland">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-model="model.editUser.password" class="form-control" id="password" placeholder="Wonderland">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" ng-model="model.editUser.password" class="form-control" id="confirm-password" placeholder="Wonderland">
                </div>
                <div class="form-group">
                    <label for="datetimepicker1">Birthday</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input  ng-model="model.editUser.dateofbirth"
                                type='text' class="form-control" />
                        <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
                        });
                    </script>
                </div>
                <!--
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input ng-model="model.editUser.dateofbirth" class="form-control" id="birthday" type="date">
                </div>
-->

                <br>
                <div class="form-group">
                    <a class="btn btn-success btn-block" ng-click="model.updateUser(model.editUser)"> Done
                    </a>
                </div>

            </form>

            <a class="btn btn-danger btn-block"
               ng-click="model.deleteUser()">Delete Account</a>
        </div>



            <div ng-switch-when="editOrder">
                <div class="alert alert-danger" ng-show="model.error">
                    {{model.error}}
                </div>
                <div class="alert alert-success" ng-show=" model.message">
                    {{model.message}}
                </div>

                <form >

                    <label for="orderEdit">Order Id</label>
                    <h2 ng-model="model.editOrder._id" id="orderEdit" > {{model.editOrder._id}}</h2>

                    <div class="form-group">
                        <label for="restaurantName">Restaurant Name</label>
                        <input type="text" ng-model="model.editOrder.restaurantName" class="form-control" id="restaurantName" placeholder="Wonderland">
                    </div>

                    <div class="form-group">
                        <label for="Orderer">Orderer</label>
                        <input type="text" ng-model="model.editOrder._orderer" class="form-control" id="Orderer" placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <label for="Deliverer">Deliverer</label>
                        <input type="text" ng-model="model.editOrder._deliverer" class="form-control" id="Deliverer" placeholder="Wonderland">
                    </div>

                    <div class="form-group">
                        <label for="deliveryLoc">Delivery Location</label>
                        <input type="text" ng-model="model.editOrder.deliveryLoc" class="form-control" id="deliveryLoc" placeholder="Wonderland">
                    </div>

                    <div class="form-group">
                        <label for="pickupLoc">Pickup Location</label>
                        <input type="text" ng-model="model.editOrder.pickupLoc" class="form-control" id="pickupLoc" placeholder="Wonderland">
                    </div>

                    <div class="form-group">
                    <label for="deliveryStatus">Delivery Status</label>
                    <select class="form-control" id="deliveryStatus" ng-model="model.editOrder.deliveryStatus">
                        <option>ORDERED</option>
                        <option>SELECTED_FOR_DELIVERY</option>
                        <option>PICKED_ORDER</option>
                        <option>DELIVERED</option>
                    </select>
                    </div>
<!--

                    <div class="form-group">
                        <label for="deliveryStatus">deliveryStatus</label>
                        <input type="text" ng-model="model.editUser.deliveryStatus" class="form-control" id="deliveryStatus" placeholder="Wonderland">
                    </div>

-->
                    <br>
                    <div class="form-group">
                        <a class="btn btn-success btn-block" ng-click="model.updateOrder(model.editOrder)"> Done
                        </a>
                    </div>

                </form>

                <a class="btn btn-danger btn-block"
                   ng-click="model.deleteOrder(model.editOrder._id)">Delete Order</a>
            </div>


            <div ng-switch-when="editRestaurant">
                <div class="alert alert-danger" ng-show="model.error">
                    {{model.error}}
                </div>
                <div class="alert alert-success" ng-show=" model.message">
                    {{model.message}}
                </div>

                <form >

                    <label for="restaurantUsername">Username</label>
                    <h2 ng-model="model.editRest.username" id="restaurantUsername" > {{model.editRest.username}}</h2>

                    <div class="form-group">
                        <label for="resEmail">Email</label>
                        <input type="email" ng-model="model.editRest.email"  class="form-control" id="resEmail" placeholder="alice@wonderland.com">
                    </div>
                    <div class="form-group">
                        <label for="restaurantNameEdit">Restaurant Name</label>
                        <input type="text" ng-model="model.editRest.restaurantName" class="form-control" id="restaurantNameEdit" placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" ng-model="model.editRest.address" class="form-control" id="address" placeholder="Wonderland">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" ng-model="model.editRest.phone" class="form-control" id="phone" placeholder="Wonderland">
                    </div>
                    <div class="form-group">
                        <label for="resPassword">Password</label>
                        <input type="password" ng-model="model.editRest.password" class="form-control" id="resPassword" placeholder="Wonderland">
                    </div>
                    <div class="form-group">
                        <label for="res-confirm-password">Confirm Password</label>
                        <input type="password" ng-model="model.editRest.password" class="form-control" id="res-confirm-password" placeholder="Wonderland">
                    </div>

                    <!--
                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input ng-model="model.editUser.dateofbirth" class="form-control" id="birthday" type="date">
                    </div>
    -->

                    <br>
                    <div class="form-group">
                        <a class="btn btn-success btn-block" ng-click="model.updateRestaurant(model.editRest)"> Done
                        </a>
                    </div>

                </form>

                <a class="btn btn-danger btn-block"
                   ng-click="model.deleteRestaurant(model.editRest._id)">Delete Account</a>
            </div>



            <div ng-switch-when="createUserPage">
                <div class="alert alert-danger" ng-show="model.error">
                    {{model.error}}
                </div>
                <div class="alert alert-success" ng-show=" model.message">
                    {{model.message}}
                </div>

                <form >



                    <div class="form-group">
                        <label for="usrUsername">Username</label>
                        <input type="text" ng-model="model.newUser.username"  class="form-control" id="usrUsername" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="newUserEmail">Email</label>
                        <input type="email" ng-model="model.newUser.email"  class="form-control" id="newUserEmail" placeholder="alice@wonderland.com">
                    </div>
                    <div class="form-group">
                        <label for="fNameEdit">First Name</label>
                        <input type="text" ng-model="model.newUser.restaurantName" class="form-control" id="fNameEdit" placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" ng-model="model.newUser.address" class="form-control" id="lname" placeholder="Wonderland">
                    </div>
                    <div class="form-group">
                        <label for="nPassword">Password</label>
                        <input type="password" ng-model="model.newUser.password" class="form-control" id="nPassword" placeholder="Wonderland">
                    </div>
                    <div class="form-group">
                        <label for="new-confirm-password">Confirm Password</label>
                        <input type="password" ng-model="model.newUser.password" class="form-control" id="new-confirm-password" placeholder="Wonderland">
                    </div>


                    <br>
                    <div class="form-group">
                        <a class="btn btn-success btn-block" ng-click="model.createUser(model.newUser)"> Create
                        </a>
                    </div>

                </form>

            </div>




        </div>
    </div>
</div>







