<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
        <div class="navbar-text col-lg-10 col-sm-9 col-xs-8">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <div class="logout/login navbar-text pull-right" style="margin-right: 2%;">
            <button ng-click="model.logout()" class="btn btn-success">Logout</button>
        </div>

    </div>
    </div>
</nav>


<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div class="profile-edit-button">
                <a href="#/editProfile  "><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
            </div>
            <li>
                <div class="square">
                    <img src="{{model.user.profilepicurl}}" class="img-responsive img-circle content"/>
                </div>
            </li>
            <li>
                <h2 style="text-align:center;color: #F2F2F1;overflow-wrap: break-word;">{{model.user.firstName}}
                    {{model.user.lastName}}</h2>
            </li>

            <li>
                <a ng-click="model.updateCurrentSelection('users')">USERS</a>
            </li>
            <li>
                <a ng-click="model.updateCurrentSelection('orders')">ORDERS</a>
            </li>
            <li>
                <a ng-click="model.updateCurrentSelection('restaurants')">RESTAUTANTS</a>
            </li>
        </ul>
    </div>


    <div id="page-content-wrapper">
        <div ng-switch="model.currentSelection">
            <div ng-switch-when="users">

                <div class="row">
                    <div>
                        <h3> Users </h3>
                        <div>
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <input ng-model="SearchUserId"
                                       placeholder="User Id"
                                       type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <input ng-model="SearchUserName"
                                       placeholder="Username"
                                       type="text" class="form-control">
                            </div>
                            <span class="input-group-btn">
                            <a ng-click="model.searchRestaurant(searchRes,searchLoc)"
                            class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search widget-class"></span>
                </a>
                </span>
                        </div>
                        <ul class="list-group">
                            <li ng-repeat="user in model.users" class="list-group-item">
                                <!-- <a href="#/user/{{websiteNewController.userId}}/website/{{website._id}}/page"> -->
                                <a href="#">
                                    {{user.username}} {{ user.lastname}}
                                </a>
                                <a href="#">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div ng-switch-when="orders">
                <div ng-repeat="order in model.orders">
                    <div class="row">
                        <div>
                            <h3> Orders </h3>
                            <ul class="list-group">
                                <li ng-repeat="order in model.orders" class="list-group-item">
                                    <!-- <a href="#/user/{{websiteNewController.userId}}/website/{{website._id}}/page"> -->
                                    <a href="#">
                                        {{order._id}}
                                    </a>
                                    <a href="#">
                                        {{order._orderer}}
                                    </a>
                                    <a href="#">
                                        {{order._deliverer}}
                                    </a>
                                    <a href="#">
                                        <span class="pull-right glyphicon glyphicon-cog"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="restaurants">
                <div class="row">
                    <div>
                        <ul class="list-group">
                            <li ng-repeat="restaurant in model.restaurants" class="list-group-item">
                                <!-- <a href="#/user/{{websiteNewController.userId}}/website/{{website._id}}/page"> -->
                                <a href="#">
                                    {{restaurant.username}}
                                </a>
                                <a href="#">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-switch="model.currentSelection" class="container-fluid col-md-8 col-sm-8 col-xs-12 web-right-pane">


</div>






