

<div class="modal fade" id="destinationModal">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title">Enter your destination</h5>
   </div>
   <div class="modal-body">
    <input type="text" class="form-control" placeholder="Snell Library" ng-model="destination">
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="model.saveDestination(destination)">Save changes</button>
   </div>
  </div>
 </div>
</div>

<div class="modal fade" id="commentModal">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title">Write {{model.orderer.firstName}} {{model.orderer.lastName}} a message:</h5>
   </div>
   <div class="modal-body">
    <textarea type="text" class="form-control" placeholder="Great meeting you...enjoy your meal" ng-model="comment"></textarea>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="model.saveComment(comment)">Save changes</button>
   </div>
  </div>
 </div>
</div>
<nav class=" navbar navbar-inverse navbar-fixed-top">

 <div class="row container-fluid">
  <div class="navbar-text col-lg-10 col-sm-8  col-xs-5">
   <a class=" btn oota" href="#/">OOTA</a>    </div>
  <div class="logout-login navbar-text pull-right" style="margin-right: 2%;">
   <button ng-show=model.user ng-click="model.logout()" class="btn btn-success">Logout</button>
   <span  ng-show=model.user >
                <a href="#/userProfile/{{model.user.username}}" class="btn fa fa-user fa-2x" aria-hidden="true"></a></span>
  </div>
 </div>
</nav>
<ng-map id="mapDemo"
        default-style="true"
        center="current-location"
        draggable="true"
        zoom="15">

 <marker id="start"
         icon="{{model.startIcon}}"
         position="current-location"
         on-click="model.showInfoWindow()">
 </marker>

 <marker id="destination"
         position="{{model.destination}}"
         on-click="model.showInfoWindow()">
 </marker>

 <marker
         ng-repeat="pickup in model.waypoints"
         icon="{{model.waypointIcon}}"
         position="{{pickup.pickupLoc}}"
         on-click="model.showInfoWindow({{pickup}})">
 </marker>

 <marker position="{{model.dropOff}}"
         on-click="model.showInfoWindow()">
 </marker>


 <info-window id="event-location-info">
     <div ng-non-bindable>
      <p>Restaurant: {{model.restaurantName}}<p/>
      <a id="windowBtn" class="btn btn-primary btn-sm" ng-click="model.pickUpOrder()">Pick-up Order</a>
     </div>
 </info-window>


 <directions
         polyline-options='{strokeColor: "black"}'
         draggable="true"
         panel=""
         avoid-ferries="true"
         travel-mode="WALKING"
         waypoints="{{model.selectedWaypoint}}"
         origin="current-location"
         destination="{{model.destination}}"
         suppress-markers="true">
 </directions>


</ng-map>


<div class="container" ng-if="model.selectedWaypoint.length > 0">
 <h1>{{model.restaurantName}}</h1>
 <table class="table table-striped">
  <tbody>
  <col width="70%" />
  <col width="15%" />
  <col width="15%" />
  <tr>
   <th>Name </th>
   <th>Price</th>
   <th>QTY</th>
  </tr>
  <tr ng-repeat="order in model.orders">
   <td>{{order.dish}}</td>
   <td>{{order.price}}</td>
   <td>{{order.count}}</td>
  </tr>
  </tbody>
 </table>


 <div class="row" ng-if="model.selectedWaypoint.length > 0">
  <div class="col-sm-6">
   <h3>Pickup Details:</h3>
   <h5>Restaurant Name:</h5>{{model.restaurantName}}
   <h5>Restaurant Location:</h5>{{model.selectedWaypoint[0].location}}

  </div>

  <div class="col-sm-6">
   <h3>Delivery Details:</h3>
   <h5>Drop off to:</h5>{{model.orderer.firstName}} {{model.orderer.lastName}}
   <h5>Drop off point:</h5>{{model.selectedWaypoint[1].location}}

  </div>
 </div>


 <div class="row" ng-if="model.selectedWaypoint.length > 0">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
   <a id="orderPickedUpBtn" class="disabled btn btn-success" style="margin-top: 2em;" ng-click="model.orderPickedUp()">Order Picked Up</a>
  </div>
  <div class="col-sm-4">
   <a id="orderDeliveredBtn" class="disabled btn btn-success" style="margin-top: 2em;" ng-click="model.orderDelivered()">Order Delivered</a>
  </div>
  <div class="col-sm-2"></div>
 </div>



</div>

