<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
    <li><a data-toggle="tab" data-target="#menu1">Register</a></li>

</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
        <ng-include src="'views/login.view.client.html'"></ng-include>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
        <ng-include src="'views/registerUser.view.client.html'"></ng-include>
        </div>
    </div>
</div>

