<div class="modal fade" id="destinationModal">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title">Enter your destination</h5>
   </div>
   <div class="modal-body">
    <input type="text" class="form-control" placeholder="Snell Library" ng-model="destination">
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="model.saveDestination(destination)">Save changes</button>
   </div>
  </div>
 </div>
</div>

<ng-map id="mapDemo"
        default-style="true"
        center="current-location"
        draggable="true"
        zoom="15">

 <marker id="start"
         icon="{{model.startIcon}}"
         position="current-location"
         on-click="model.showInfoWindow()">
 </marker>

 <marker id="destination"
         position="{{model.destination}}"
         on-click="model.showInfoWindow()">
 </marker>

 <marker ng-repeat="pickup in model.waypoints"
         icon="{{model.waypointIcon}}"
         position="{{pickup.pickupLoc}}"
         on-click="model.showInfoWindow({{pickup}})">
 </marker>

 <marker position="{{model.dropOff}}"
         on-click="model.showInfoWindow()">
 </marker>


 <info-window id="event-location-info">
     <div ng-non-bindable>
      <p>Restaurant:<p/>
      <a href="" class="btn btn-primary btn-sm">Pick-up Order</a>
     </div>
 </info-window>


 <directions
         polyline-options='{strokeColor: "pink"}'
         draggable="true"
         panel=""
         avoid-ferries="true"
         travel-mode="WALKING"
         waypoints="{{model.selectedWaypoint}}"
         origin="current-location"
         destination="{{model.destination}}"
         suppress-markers="true">
 </directions>


</ng-map>

<div class="container">
 <h1>{{model.restaurantName}}</h1>
</div>

