<div id="background-img"></div>
<ul class="nav nav-tabs deliverlogin-ul" style="margin-top: -84px">
    <li style=""> <a class=" btn oota-deliver" href="#/">OOTA</a></li>
    <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
    <li><a data-toggle="tab" data-target="#menu1">Register</a></li>

</ul>

<div class="tab-content deliverlogin">
    <div id="home" class="tab-pane fade in active">
        <div class="container">
            <h3 class="title1">Login</h3>
        <ng-include src="'views/login.view.client.html'"></ng-include>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container">
            <h3 class="title1">Register</h3>
        <ng-include src="'views/registerUser.view.client.html'"></ng-include>
        </div>
    </div>
</div>

