<div id="background-img"></div>


<div class="Oota">
    <h1 class="OotaTitle animated bounce">O</h1>
    <h1 id="titleo" class="OotaTitle animated bounce">o</h1>
    <h1 id="titlet" class="OotaTitle animated bounce">t</h1>
    <h1 id="titlea" class="OotaTitle animated bounce">a</h1>
</div>

<div class="container" >
    <div id="homeCard">
        <div class="animated tada action">
            <div class="row">
                <div >
                    <div class="col-xs-6">
                    <button id="order" class="btn" ng-click="model.order()">
                            <img src="../img/deliverFood.jpg"> </button>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div >
                    <button id="deliver" class="btn" ng-click="model.deliver()">
                            <img src="../img/orderFood.png"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>