<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b>Restaurant</b>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="">Login</a>
                    </li>
                    <li>
                        <a class="">Register</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>

<div class="container home-page-div">
        <div id="background-img"> </div>

        <h1 id="home-page-title">Oota</h1>

        <div class="row">
            <div class="col-lg-2 col-sm-2">   </div>
            <div class="col-lg-4 col-sm-4">
                <a class="btn btn-info hvr-grow btn-block homepage-btn"
                   href="#/restaurantList">Order</a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a class="btn btn-warning hvr-grow btn-block homepage-btn"
                   href="#/delivererLogin">Deliver</a>
            </div>
            <div class="col-lg-2 col-sm-2">   </div>
        </div>


        <!--<div class="row">-->
            <!--<div class="col-lg-3 col-xs-3">   </div>-->
            <!--<div class="col-lg-6 col-xs-6">-->
            <!--<a class="btn btn-default btn-large btn-block" href="#/delivererLogin">DELIVER</a>-->
         <!--</div>-->
            <!--<div class="col-lg-3 col-xs-3"></div>-->
        <!--</div>-->
</div>