<div class="container home-page-div">
        <div id="background-img"> </div>
        <h1 id="title">Oota</h1>
        <div class="row">
            <div class="col-lg-3 col-xs-3">   </div>
            <div class="col-lg-6 col-xs-6">
           <a class="btn btn-default btn-large btn-block" href="#/restaurantList">ORDER</a>
            </div>
            <div class="col-lg-3 col-xs-3">   </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-3 col-xs-3">   </div>
            <div class="col-lg-6 col-xs-6">
            <a class="btn btn-default btn-large btn-block" href="#/deliver">DELIVER</a>
         </div>
            <div class="col-lg-3 col-xs-3"></div>
        </div>
    <BR><BR>

        <div class="row">
            <div class="col-lg-3 col-xs-3">   </div>
            <div class="col-lg-6 col-xs-6">
                <a class="btn btn-default btn-large btn-block">LOGIN AS RESTAURANT</a>
            </div>
            <div class="col-lg-3 col-xs-3">   </div>
        </div>

</div>