
    <div class="container-fluid">

			<h1 id="title">Oota</h1>
	    	<form>
	    		<div class="form-group">
					<div ng-show="model.error" class="alert alert-danger" role="alert">
						{{model.error}}
					</div>
		    		<input type="text" name="username" placeholder="username"
						   class="form-control" ng-model="user.username">
					<br>
		    		<input type="password" name="password" placeholder="*****"
						   class="form-control" ng-model="user.password">
					<br>
		    		<button id="login" class="btn btn-block btn-primary"
							ng-click="model.loginUser(user)">Login</button>
		    	</div>
	    	</form>

    </div>