 <div class="container-fluid noheader">

		<div ng-show="model.message" class="alert alert-danger" role="alert">
			{{model.message}}
		</div>

			<!--<h1 id="title">Oota</h1>-->
	    	<form>
	    		<div class="form-group" style="margin-top: 8em">
					<div ng-show="model.error" class="alert alert-danger" role="alert">
						{{model.error}}
					</div>
		    		<input type="text" name="username" placeholder="username"
						   class="form-control" ng-model="user.username">
					<br>
		    		<input type="password" name="password" placeholder="*****"
						   class="form-control" ng-model="user.password">
					<br>
		    		<button id="login" class="btn btn-block btn-primary"
							ng-click="model.loginUser(user)">Login</button>
					<button href="/auth/google" class="btn btn-danger btn-block">
						<span class="fa fa-google-plus"></span>
						Google
					</button>
					<button href="/auth/facebook" class="btn btn-primary btn-block">
						<span class="fa fa-facebook"></span>
						Facebook
					</button>
		    	</div>
	    	</form>

    </div>