
<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
        <div class="navbar-text col-lg-10 col-sm-9 col-xs-7">
            <div>
                <a class=" btn oota" href="#/">OOTA</a>
            </div>
        </div>
        <div class="logout-login navbar-text pull-right" style="margin-right: 2%;">
            <button ng-click="model.logout()" class="btn btn-success">Logout</button>
            <span  ng-show=model.loggedInUser >
                <a href="#/userProfile/{{model.user.username}}" class="btn fa fa-user fa-2x" aria-hidden="true"></a></span>
        </div>

    </div>
    </div>
</nav>


<div class="container">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>
    <div class="alert alert-success" ng-show=" model.message">
        {{model.message}}
    </div>

    <form action="{{model.uploadURL}}"  method="post" enctype="multipart/form-data">
        <input name="uid" value="model.user_id" style="display:none">


            <label for="usernameEdit">Username</label>
            <h2 ng-model="model.user.username" id="usernameEdit" > {{model.user.username}}</h2>


        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="model.user.email"  class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="phone-no">Phone Number</label>
            <input type="tel" ng-model="model.user.phone" class="form-control" id="phone-no" placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="model.user.password" class="form-control" id="password" placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" ng-model="model.user.password" class="form-control" id="confirm-password" placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input ng-model="model.user.dateofbirth" class="form-control" id="birthday" placeholder="Wonderland">
        </div>
        <label>Upload</label>
        <input type="file"
               class="form-control"
               name="myFile"
               value="https://www.google.com/search?q=images&espv=2&biw=753&bih=970&source=lnms"
        />
        <br>
        <button type="submit" class="btn btn-primary btn-block">Upload Image</button>
        <br>

        <div class="form-group">
            <a class="btn btn-success btn-block" ng-click="model.updateUser(model.user)"> Done
            </a>
        </div>

    </form>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteUser()">Delete Account</a>
    <br>
</div>


