<div id="background-img"></div>

<div class="container noheader">
    <div id="card">
        <h1 id="title">Register</h1>
        <form>
            <div class="form-group register">
                <label for="username"> User Name </label>
                <input type="text" id="username" name="username" placeholder="username" class="form-control" ng-model="restaurant.username">

                <label for="password"> Password </label>
                <input type="password" id="password" name="password" placeholder="********" class="form-control" ng-model="restaurant.password">

                <label for="vpassword"> Verify Password </label>
                <input id="vpassword" type="password" name="v_password" placeholder="********" class="form-control" ng-model="restaurant.verifyPassword">

                <label for="rname"> Restaurant Name </label>
                <input id="rname" type="text" name="restaurantName" placeholder="Restaurant Name" class="form-control" ng-model="restaurant.restaurantName">

                <label for="address"> Address </label>
                <input id="address" type="text" name="address1" placeholder="Address Line 1" class="form-control" ng-model="restaurant.address">


                <label for="pincode"> Pincode </label>
                <input id="pincode" type="text" name="pincode" placeholder="Pincode" pattern="[0-9]{5}" maxlength="5" class="form-control" ng-model="restaurant.pincode">

                <input type="checkbox" name="deliveryOption" value="Delivery Available" ng-model="restaurant.deliveryOption"> <label>Delivery Available?</label><br>

                <label for="contactno"> Contact Number </label>
                <input id="contactno" type="text" name="phoneNumber" placeholder="Phone Number" class="form-control" ng-model="restaurant.phoneNumber">

                <label for="email"> Email </label>
                <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="restaurant.email">

                <button id="register" class="btn btn-block btn-primary" ng-click="model.register(restaurant)">Register</button>



            </div>
        </form>
    </div>
</div>