<div id="background-img"></div>
<div class="container">
    <div >
        <h1 id="title">Register</h1>
        <form>
            <div class="form-group register">
                <label>User Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="Username"/>
                <label>First Name</label>
                <input type="text"
                        class="form-control"
                        placeholder="First Name"/>
                <label>Last Name</label>
                <input type="text"
                        class="form-control"
                        placeholder="Last Name"/>
                <label>Birthday</label>

                <div class="container">
                    <div class="row" id="Birthday">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
                            });
                        </script>
                    </div>
                </div>

                <label>Email</label>
                <input type="email"
                        class="form-control"
                        placeholder="Email"/>
                <label>Phone Number</label>
                <input type="number"
                       class="form-control"
                       placeholder="Phone Number"/>
                <label>Password</label>
                <input type="password"
                        class="form-control"
                        placeholder="Password"/>
                <label>Confirm Password</label>
                <input type="password"
                       class="form-control"
                       placeholder="Confirm Password"/>
                <label></label>
                <button id="register" class="btn btn-block btn-primary" ng-click="model.register(restaurant)">Register</button>

            </div>
        </form>
    </div>
</div>