<div id="background-img"></div>
<div class="container">
    <div >
        <h1 id="title">Register</h1>
        <form>
            <div class="form-group register-user">
                <label>User Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="username"/>
                <label>First Name</label>
                <input type="text"
                        class="form-control"
                        placeholder="First Name"/>
                <label>Last Name</label>
                <input type="text"
                        class="form-control"
                        placeholder="Last Name"/>
                <label>Birthday</label>






                <label>Email</label>
                <input type="email"
                        class="form-control"
                        placeholder="Email"/>
                <label>Phone No.</label>
                <input type="number"
                       class="form-control"
                       placeholder="Number"/>
                <label>Password</label>
                <input type="password"
                        class="form-control"
                        placeholder="password"/>
                <label>Confirm Password</label>
                <input type="password"
                       class="form-control"
                       placeholder="confirm password"/>
            </div>
        </form>
    </div>
</div>