
<div class="container-fluid">
    <div ng-show="model.message" class="alert alert-success" role="alert">
        {{model.message}}
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div >
        <!--<h1 id="title">Oota</h1>-->
        <form>
            <div class="form-group register">
                <label>User Name</label>
                <input ng-model="user.username"
                        type="text"
                       class="form-control"
                       placeholder="Username"/>
                <label>First Name</label>
                <input  ng-model="user.firstName"
                        type="text"
                        class="form-control"
                        placeholder="First Name"/>
                <label>Last Name</label>
                <input   ng-model="user.lastName"
                        type="text"
                        class="form-control"
                        placeholder="Last Name"/>
                <label>Birthday</label>

                <div class="container">
                    <div class="row" id="Birthday">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input  ng-model="user.dob"
                                            type='text' class="form-control" />
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
                            });
                        </script>
                    </div>
                </div>

                <label>Email</label>
                <input  ng-model="user.email"
                        type="email"
                        class="form-control"
                        placeholder="Email"/>
                <label>Phone Number</label>
                <input  ng-model="user.contact"
                      type="tel" pattern="[0-9]{10}"
                       class="form-control"
                       placeholder="Phone Number"/>
                <label>Password</label>
                <input  ng-model="user.password"
                        type="password"
                        class="form-control"
                        placeholder="Password"/>
                <label>Confirm Password</label>
                <input type="password"
                       class="form-control"
                       placeholder="Confirm Password"/>
                <label></label>
                <button id="register" class="btn btn-block btn-primary"
                        ng-click="model.registerUser(user)">Register</button>

            </div>
        </form>
    </div>
</div>