<div class="modal fade" id="validateUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login/Register</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
                    <li><a data-toggle="tab" data-target="#menu1">Register</a></li>

                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <ng-include src="'views/login.view.client.html'"></ng-include>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <ng-include src="'views/registerUser.view.client.html'"></ng-include>
                    </div>
                </div>
                <!--<label>Username:</label>-->
                <!--<input type="text" class="form-control" placeholder="username" ng-model="user.username">-->
                <!--<label>Password:</label>-->
                <!--<input type="text" class="form-control" placeholder="password" ng-model="user.password">-->
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" ng-click="model.closeModal()">Close</a>
            </div>
        </div>
    </div>
</div>


<nav class=" navbar navbar-default navbar-fixed-top">

    <div class="row container-fluid">

            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    RESTAURANTS
                </a>
            </div>
            <div class="navbar-text pull-right" >
                <a href="#/adminPage"> Admin </a>
                <a >
                    <div ng-show=model.user ng-click="model.logout()">
                        <span class="btn btn-primary"> Logout</span>
                    </div>
                    <div ng-show=!model.user ng-click="model.loginClick()">
                        <span class="btn btn-primary"> Login</span>
                    </div>
                </a>
            </div>



    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <input ng-model="searchLoc"
                   placeholder="Area"
                   type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <input ng-model="searchRes" type="text"
                       placeholder="Restaurant Name"
                       class="form-control">
                <span class="input-group-btn">
                <a ng-click="model.searchRestaurant(searchRes,searchLoc)"
                   class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search widget-class"></span>
                </a>
                </span>
            </div>
        </div>
    </div>


        <div ng-show="model.restaurants">


            <div ng-repeat="res in model.restaurants.data.restaurants" >
                <div class="row" ng-if="$index%3==0">
                    <div class="col-lg-4 col-md-4" ng-if="$index<model.restaurants.data.restaurants.length">
                        <div class="profile-card text-center">
                            <img class="circle img-responsive"
                                 style="padding-left: 25%;padding-top: 4%"
                                 src="{{model.restaurants.data.restaurants[$index].logoUrl}}">
                            <div class="profile-info">
                                <h2 class="hvr-underline-from-center">
                                    <a ng-click="model.getRestaurantDetails($index)">
                                        {{model.restaurants.data.restaurants[$index].name}}</a>
                                    <span>{{model.restaurants.data.restaurants[$index].streetAddress}}</span></h2>
                                <br>
                                <h4>{{model.restaurants.data.restaurants[$index].url}}</h4>
                                <br>
                                <span ng-repeat="foodtype in model.restaurants.data.restaurants[$index].foodTypes">
                                    {{foodtype}}&nbsp;
                                </span>
                                <p ng-if="model.restaurants.data.restaurants[$index].offersPickup">
                                <h6>Offers Pick Up: YES</h6>
                                <p class="card-text">
                                    <button class="btn btn-block menu-button"
                                            ng-click="model.searchMenu(model.restaurants.data.restaurants[$index])">
                                        MENU</button>
                                </p>
                                </p>
                                <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
                                <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" ng-if="$index+1<model.restaurants.data.restaurants.length">
                        <div class="profile-card text-center">

                            <img style="padding-left: 25%;padding-top: 4%"
                                 class="img-responsive"
                                 src="{{model.restaurants.data.restaurants[$index+1].logoUrl}}">
                            <div class="profile-info">
                                <h2 class="hvr-underline-from-center">
                                    <a ng-click="model.getRestaurantDetails($index + 1)">{{model.restaurants.data.restaurants[$index+1].name}}</a>
                                    <span>{{model.restaurants.data.restaurants[$index+1].streetAddress}}</span></h2>
                                <br>
                                <h4>{{model.restaurants.data.restaurants[$index+1].url}}</h4>
                                <br>
                                <span ng-repeat="foodtype in model.restaurants.data.restaurants[$index+1].foodTypes">
                                    {{foodtype}}&nbsp;
                                </span>
                                <p ng-if="model.restaurants.data.restaurants[$index+1].offersPickup">
                                <h6>Offers Pick Up: YES</h6>
                                <p class="card-text">
                                    <button class="btn btn-block menu-button"
                                            ng-click="model.searchMenu(model.restaurants.data.restaurants[$index+1])">
                                        MENU</button>
                                </p>
                                </p>
                                <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
                                <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" ng-if="$index+2<model.restaurants.data.restaurants.length">
                        <div class="profile-card text-center" >

                            <img class="img-responsive" style="padding-left: 25%;padding-top: 4%"
                                 src="{{model.restaurants.data.restaurants[$index+2].logoUrl}}">
                            <div class="profile-info">
                                <h2 class="hvr-underline-from-center">
                                    <a ng-click="model.getRestaurantDetails($index + 2)">{{model.restaurants.data.restaurants[$index+2].name}}</a>
                                    <span>{{model.restaurants.data.restaurants[$index+2].streetAddress}}
                                    </span>
                                </h2>
                                <br>
                                <h4>{{model.restaurants.data.restaurants[$index+2].url}}</h4>
                                <br>
                                <span ng-repeat="foodtype in model.restaurants.data.restaurants[$index+2].foodTypes">
                                    {{foodtype}}&nbsp;
                                </span>
                                <p ng-if="model.restaurants.data.restaurants[$index+2].offersPickup">
                                <h6>Offers Pick Up: YES</h6>
                                </p>
                                <p class="card-text">
                                    <button class="btn btn-block menu-button"
                                            ng-click="model.searchMenu(model.restaurants.data.restaurants[$index+2])">
                                        MENU</button>
                                </p>
                                <a href="http://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
                                <a href="http://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>

</div>
