<script src="../services/restaurantReview.service.client.js"></script>
<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
            <div class="navbar-text">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>

            <div class="navbar-text navbar-brand">
                Restaurant Profile
            </div>
    </div>
</nav>



<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="margin-top: 2em;">
            <li>
                <a ng-click="model.updateCurrentSelection('overview')">Overview</a>
            </li>
            <li>
                <a ng-click="model.updateCurrentSelection('graphical')">Graphical</a>
            </li>
            <li>
                <a ng-click="model.updateCurrentSelection('reviews')">Reviews</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="margin-top: 3em;">

        <div class="container-fluid" ng-switch="model.currentSelection">

            <div ng-switch-when="overview">
                <img src="{{model.restaurant.logoUrl}}" style="width: 100%; height: 20em;">
                <div class="container-fluid">
                    <a href="{{model.restaurant.url}}"><h3>{{model.restaurant.restaurantName}}, {{model.restaurant.address}}</h3></a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Ph no: {{model.restaurant.phone}}
                        </li>
                        <li class="list-group-item">
                            Accepts Card: {{model.restaurant.acceptsCard}}
                        </li>
                        <li class="list-group-item">
                            Accepts Cash: {{model.restaurant.acceptsCash}}
                        </li>
                        <li class="list-group-item">
                            Offers Pickup: {{model.restaurant.offersPickup}}
                        </li>

                    </ul>
                </div>
            </div>



            <div id="graph" ng-switch-when="graphical">
            </div>



            <div ng-switch-when="reviews">
                <h1>Reviews</h1>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="review in model.allReviews">
                        <a href="#" class="pull-left">
                            <img src="assets/img/1.png" alt="" class="img-circle">
                        </a>
                        <div class="media-body">
                <span class="text-muted pull-right">
                    <small class="text-muted">{{review.createdAt}}</small>
                </span>
                            <strong class="text-success">{{review.firstName}} {{review.lastName}}</strong>
                            <p>
                                {{review.reviewText}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


