<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
        <div class="navbar-text col-lg-10 col-sm-9 col-xs-8">
            <div>
                <a href="#menu-toggle" class="btn btn-default pull-left" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
                <a class=" btn oota" href="#/">OOTA</a>
            </div>
        </div>

        <div class="logout-login navbar-text pull-right" style="margin-right: 2%;">
            <a  href="#/homepage" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>



<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <li>

                <div class="square">
                    <img  src="{{model.restaurant.logoUrl}}" style="margin-top: 1em" class="img-responsive img-circle content"/>

                </div>
            </li>
            <br><br>
            <li>
                <a class="btn align-btn-left" ng-click="model.updateCurrentSelection('overview')">Overview</a>
            </li>
            <li>
                <a class="btn align-btn-left" ng-click="model.updateCurrentSelection('graphical')">Graphical</a>
            </li>
            <li>
                <a class="btn align-btn-left" ng-click="model.updateCurrentSelection('reviews')">Reviews</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid" ng-switch="model.currentSelection">

            <div ng-switch-when="overview">

                <div class="container-fluid">
                    <a href="{{model.restaurant.url}}"><h3>{{model.restaurant.restaurantName}}, {{model.restaurant.address}}</h3></a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Phone no: {{model.restaurant.phone}}
                        </li>
                        <li class="list-group-item">
                            Accepts Card: {{model.restaurant.acceptsCard}}
                        </li>
                        <li class="list-group-item">
                            Accepts Cash: {{model.restaurant.acceptsCash}}
                        </li>
                        <li class="list-group-item">
                            Offers Pickup: {{model.restaurant.offersPickup}}
                        </li>

                    </ul>
                </div>
            </div>



            <div id="graph" ng-switch-when="graphical">
            </div>



            <div ng-switch-when="reviews">
                <h1>Reviews</h1>

                <ul class="list-group">

                    <li class="list-group-item" ng-repeat="review in model.allReviews">
                        <img src="{{review.profilepicurl}}"
                             alt=""
                             class="img-circle"
                             style="width: 2em;height: 2em;">

                        <div class="media-body" style="display: inline;">
                            <span class="text-muted pull-right">
                                <small class="text-muted">{{review.createdAt}}</small>
                            </span>
                            <a href="#/userProfile/{{review.username}}">
                                <strong class="text-success">{{review.firstName}} {{review.lastName}}</strong>
                            </a>

                            <p style="margin-left:1em; margin-top: 1em; ">
                                {{review.reviewText}}
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


