<div class="modal fade" id="validateUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login/Register</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
                    <li><a data-toggle="tab" data-target="#menu1">Register</a></li>

                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <ng-include src="'views/login.view.client.html'"></ng-include>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <ng-include src="'views/registerUser.view.client.html'"></ng-include>
                    </div>
                </div>
                <!--<label>Username:</label>-->
                <!--<input type="text" class="form-control" placeholder="username" ng-model="user.username">-->
                <!--<label>Password:</label>-->
                <!--<input type="text" class="form-control" placeholder="password" ng-model="user.password">-->
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" ng-click="model.closeModal()">Close</a>
            </div>
        </div>
    </div>
</div>



<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
        <div class="navbar-text col-lg-10 col-sm-8  col-xs-5">
            <a class=" btn oota" href="#/">OOTA</a>    </div>
        <div class="logout-login navbar-text pull-right" style="margin-right: 2%;">
            <button ng-show="!model.user" ng-click="model.loginClick()" class="btn btn-primary">Login</button>
            <button ng-show="model.user" ng-click="model.logout()" class="btn btn-danger">Logout</button>
            <span  ng-show=model.user >
                <a href="#/userProfile/{{model.user.username}}" class="btn fa fa-user fa-2x" aria-hidden="true"></a></span>
        </div>
    </div>
</nav>


<div class="container-fluid col-md-4 col-sm-4 hidden-xs vertical-line web-left-pane" >

    <div class="row">
        <div class="square rl-img">
            <img src="{{model.restaurantLogo}}" class="img-responsive img-circle content"/>

        </div>
    </div>

    <h2 style="text-align: center">{{model.restaurantName}}</h2>
    <h5 style="text-align: center">{{model.restaurantPhone}}</h5>
    <h5 style="text-align: center">{{model.restaurantAddress}}</h5>

</div>


<div class="container-fluid col-md-8 col-sm-8 col-xs-12 web-right-pane">

    <div class="well">
        <h3>Write a Review</h3>
        <textarea id="reviewTextArea" rows="3" style="width: 100%" ng-model="reviewText"></textarea>
        <button class="btn btn-success" ng-click="model.submitReview(reviewText)">Submit</button>
    </div>



    <ul class="list-group">
        <li class="list-group-item" ng-repeat="review in model.allReviews">

            <img src="{{review.profilepicurl}}"
                 alt=""
                 class="img-circle"
                 style="width: 2em;height: 2em;">

            <div class="media-body" style="display: inline;">
                <span class="text-muted pull-right">
                    <small class="text-muted">{{review.createdAt}}</small>
                </span>
                <a href="#/userProfile/{{review.username}}">
                    <strong class="text-success">{{review.firstName}} {{review.lastName}}</strong>
                </a>

                <input type="text" value="{{review.reviewText}}" disabled style="margin-left:1em; margin-top: 1em; ">
                </input>
                <button>edit</button>
            </div>

        </li>
    </ul>

</div>










