<div class="modal fade" id="validateUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login/Register</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
                    <li><a data-toggle="tab" data-target="#menu1">Register</a></li>

                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <ng-include src="'views/login.view.client.html'"></ng-include>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <ng-include src="'views/registerUser.view.client.html'"></ng-include>
                    </div>
                </div>
                <!--<label>Username:</label>-->
                <!--<input type="text" class="form-control" placeholder="username" ng-model="user.username">-->
                <!--<label>Password:</label>-->
                <!--<input type="text" class="form-control" placeholder="password" ng-model="user.password">-->
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" ng-click="model.closeModal()">Close</a>
            </div>
        </div>
    </div>
</div>

<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
        <div class="navbar-text col-lg-10 col-sm-8  col-xs-5">
            <a class=" btn oota" href="#/">OOTA</a>    </div>
        <div class="logout-login navbar-text pull-right" style="margin-right: 2%;">
            <button ng-show=!model.user ng-click="model.loginClick()" class="btn btn-primary">Login</button>
            <button ng-show=model.user ng-click="model.logout()" class="btn btn-danger">Logout</button>
            <span  ng-show=model.user >
                <a href="#/userProfile/{{model.user.username}}" class="btn fa fa-user fa-2x" aria-hidden="true"></a></span>
        </div>
    </div>
</nav>



<div class="container">
    <div id="background-img"></div>
    <br><br>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <input ng-model="searchLoc"
                   placeholder="Area"
                   type="text" class="form-control">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <div class="input-group">
                <input ng-model="searchRes" type="text"
                       placeholder="Restaurant Name"
                       class="form-control">
                <span class="input-group-btn">
                <a ng-click="model.searchRestaurant(searchRes,searchLoc)"
                   class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search widget-class"></span>
                </a>
                </span>
            </div>
        </div>
    </div>
    <br><br>


        <div ng-show="model.restaurants">


            <div ng-repeat="res in model.restaurants.data.restaurants" >
                <div class="row" style="display:flex;flex-wrap: wrap;margin-bottom: 22px;" ng-if="$index%3==0">
                    <div class="container col-lg-4 col-md-4" ng-if="$index<model.restaurants.data.restaurants.length">
                        <div class="profile-card text-center">
                            <img class="img-responsive rl-img"
                                 src="{{model.restaurants.data.restaurants[$index].logoUrl}}">
                            <div class="profile-info">
                                <h2 class="hvr-underline-from-center">
                                    <a ng-click="model.getRestaurantDetails($index)" class="rl-a">
                                        {{model.restaurants.data.restaurants[$index].name}}</a>
                                    <span>{{model.restaurants.data.restaurants[$index].streetAddress}}</span></h2>
                                <br>
                                <h4>{{model.restaurants.data.restaurants[$index].url}}</h4>
                                <br>
                                <span ng-repeat="foodtype in model.restaurants.data.restaurants[$index].foodTypes">
                                    {{foodtype}}&nbsp;
                                </span>
                                <p ng-if="model.restaurants.data.restaurants[$index].offersPickup">
                                <h6>Offers Pick Up: YES</h6>

                                <p class="card-text">
                                    <button class="btn btn-block menu-button"
                                            ng-click="model.searchMenu(model.restaurants.data.restaurants[$index])">
                                        MENU</button>
                                </p>
                                </p>
                               </div>

                        </div>
                    </div>
                    <div class="container col-lg-4 col-md-4" ng-if="$index+1<model.restaurants.data.restaurants.length">
                        <div class="profile-card text-center">

                            <img
                                 class="img-responsive rl-img"
                                 src="{{model.restaurants.data.restaurants[$index+1].logoUrl}}">
                            <div class="profile-info">
                                <h2 class="hvr-underline-from-center">
                                    <a ng-click="model.getRestaurantDetails($index + 1)" class="rl-a">
                                        {{model.restaurants.data.restaurants[$index+1].name}}</a>
                                    <span>{{model.restaurants.data.restaurants[$index+1].streetAddress}}</span></h2>
                                <br>
                                <h4>{{model.restaurants.data.restaurants[$index+1].url}}</h4>
                                <br>
                                <span ng-repeat="foodtype in model.restaurants.data.restaurants[$index+1].foodTypes">
                                    {{foodtype}}&nbsp;
                                </span>
                                <p ng-if="model.restaurants.data.restaurants[$index+1].offersPickup">
                                <h6>Offers Pick Up: YES</h6>
                                <p class="card-text">
                                    <button class="btn btn-block menu-button"
                                            ng-click="model.searchMenu(model.restaurants.data.restaurants[$index+1])">
                                        MENU</button>
                                </p>
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="container col-lg-4 col-md-4" ng-if="$index+2<model.restaurants.data.restaurants.length">
                        <div class="profile-card text-center" >

                            <img class="img-responsive rl-img"
                                 src="{{model.restaurants.data.restaurants[$index+2].logoUrl}}">
                            <div class="profile-info">
                                <h2 class="hvr-underline-from-center">
                                    <a ng-click="model.getRestaurantDetails($index + 2)" class="rl-a">
                                        {{model.restaurants.data.restaurants[$index+2].name}}</a>
                                    <span>{{model.restaurants.data.restaurants[$index+2].streetAddress}}
                                    </span>
                                </h2>
                                <br>
                                <h4>{{model.restaurants.data.restaurants[$index+2].url}}</h4>
                                <br>
                                <span ng-repeat="foodtype in model.restaurants.data.restaurants[$index+2].foodTypes">
                                    {{foodtype}}&nbsp;
                                </span>
                                <p ng-if="model.restaurants.data.restaurants[$index+2].offersPickup">
                                <h6>Offers Pick Up: YES</h6>
                                </p>
                                <p class="card-text">
                                    <button class="btn btn-block menu-button"
                                            ng-click="model.searchMenu(model.restaurants.data.restaurants[$index+2])">
                                        MENU</button>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>

</div>
