<div class="modal fade" id="validateUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login/Register</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
                    <li><a data-toggle="tab" data-target="#menu1">Register</a></li>

                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <ng-include src="'views/login.view.client.html'"></ng-include>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <ng-include src="'views/registerUser.view.client.html'"></ng-include>
                    </div>
                </div>
                <!--<label>Username:</label>-->
                <!--<input type="text" class="form-control" placeholder="username" ng-model="user.username">-->
                <!--<label>Password:</label>-->
                <!--<input type="text" class="form-control" placeholder="password" ng-model="user.password">-->
            </div>

            <div class="modal-footer">
                <a class="btn btn-success" ng-click="model.closeModal()">Close</a>
            </div>
        </div>
    </div>
</div>



<nav class=" navbar navbar-default navbar-fixed-top">

    <div class="row container-fluid">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="navbar-text pull-left" >
                <a>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="">
                    {{model.restaurantName}}
                </a>
            </div>

        </div>
        <div class="col-xs-1 hidden-lg hidden-md hidden-sm">
            <div class="navbar-text pull-left" >
                <a>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    Reviews
                </a>
            </div>


        </div>
    </div>
</nav>

<div class="container-fluid col-md-4 col-sm-4 hidden-xs vertical-line web-left-pane" >

    <div class="row">
        <div class="square">
            <img src="{{model.restaurantLogo}}" class="img-responsive img-circle content"/>

        </div>
    </div>

    <h2 style="text-align: center">{{model.restaurantName}}</h2>
    <h5 style="text-align: center">{{model.restaurantPhone}}</h5>
    <h5 style="text-align: center">{{model.restaurantAddress}}</h5>

</div>


<div class="container-fluid col-md-8 col-sm-8 col-xs-12 web-right-pane">

    <div class="well">
        <h3>Write a Review</h3>
        <textarea id="reviewTextArea" rows="3" style="width: 100%" ng-model="reviewText"></textarea>
        <button class="btn btn-success" ng-click="model.submitReview(reviewText)">Submit</button>
    </div>


    {{model.allReviews}}


    <ul class="list-group">
        <li class="list-group-item" ng-repeat="review in model.allReviews">
            <a href="#" class="pull-left">
                <img src="assets/img/1.png" alt="" class="img-circle">
            </a>
            <div class="media-body">
                <span class="text-muted pull-right">
                    <small class="text-muted">{{review.createdAt}}</small>
                </span>
                <strong class="text-success">{{review.firstName}} {{review.lastName}}</strong>
                <p>
                    {{review.reviewText}}
                </p>
            </div>
        </li>
    </ul>

</div>










