<div class="modal fade" id="validateUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login/Register</h5>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#home">Login</a></li>
                    <li><a data-toggle="tab" data-target="#menu1">Register</a></li>

                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <ng-include src="'views/login.view.client.html'"></ng-include>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <ng-include src="'views/registerUser.view.client.html'"></ng-include>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <a class="btn btn-success" ng-click="model.closeModal()">Close</a>
            </div>
        </div>
    </div>
</div>


<nav class=" navbar navbar-inverse navbar-fixed-top">

    <div class="row container-fluid">
        <div class="navbar-text col-lg-10 col-sm-9 col-xs-8">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <div class="logout/login navbar-text" style="text-align: right">
            <button ng-show=!model.loggedInUser ng-click="model.loginClick()" class="btn btn-primary">Login</button>
            <button ng-show=model.loggedInUser ng-click="model.logout()" class="btn btn-success">Logout</button>
        </div>

        </div>
    </div>
</nav>

<div id="wrapper" class="toggled">

<div id="sidebar-wrapper">




    <ul class="sidebar-nav" >

        <div ng-show="model.currUser" class="profile-edit-button">
                <a href="#/editProfile  "><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
        </div>

        <li>

            <div class="square">
                <img src="{{model.user.profilepicurl}}" class="img-responsive img-circle content"/>
            </div>
        </li>
        <li>

            <h2 style="text-align:center;color: #F2F2F1;overflow-wrap: break-word;">{{model.user.firstName}} {{model.user.lastName}}</h2>
        </li>

        <li ng-show="!model.currUser">
            <button id="followBtn" class="btn" ng-click="model.followUser()">
                {{model.followStatus}}</button>
        </li>
        <li ng-show="model.currUser">
            <a  ng-click="model.updateCurrentSelection('TRACK ORDER')">TRACK ORDER</a>
        </li>
        <li ng-show="model.currUser">
            <a ng-click="model.updateCurrentSelection('ORDER HISTORY')">ORDER HISTORY</a>
        </li>
        <li>
            <a ng-click="model.updateCurrentSelection('COMMENTS')">MENTIONS</a>
        </li>
        <li>
            <a ng-click="model.updateCurrentSelection('FOLLOWERS')">FOLLOWERS</a>
        </li>
        <li>
            <a ng-click="model.updateCurrentSelection('FOLLOWING')">FOLLOWING</a>
        </li>
    </ul>
</div>

<div id="page-content-wrapper">

    <div ng-switch="model.currentSelection">

        <div ng-switch-when="TRACK ORDER">

            <table class="table table-striped table-bordered">
                <tbody>
                <col width="40%" />
                <col width="40%" />
                <col width="20%" />
                <tr>
                    <th>Order</th>
                    <th>Restaurant Name</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="order in model.orders">
                    <td>{{$index + 1}}</td>
                    <td>{{order.restaurantName}}</td>
                    <td>{{order.deliveryStatus}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when="ORDER HISTORY">

                <table class="table table-striped table-bordered">
                    <tbody>
                    <col width="40%" />
                    <col width="40%" />
                    <col width="20%" />
                    <tr>
                        <th>Order</th>
                        <th>Restaurant Name</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="order in model.oldorders.data">
                        <td>{{$index + 1}}</td>
                        <td>{{order.restaurantName}}</td>
                        <td>{{order.deliveryStatus}}</td>
                    </tr>
                    </tbody>
                </table>

        </div>
        <div ng-switch-when="COMMENTS">
            <div ng-repeat="comment in model.comments.data">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="comment in model.comments.data">
                        <a href="#" class="pull-left">
                            <img src="" alt="" class="img-circle">
                        </a>
                        <div class="media-body">
                            <span class="text-muted pull-right">
                                <small class="text-muted">{{review.createdAt}}</small>
                            </span>
                            <strong class="text-success">{{comment.feedback_giver_name}}</strong>
                            <p>
                                {{comment.comment}}
                            </p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div ng-switch-when="FOLLOWERS">
            {{model.followers}}
        </div>
        <div ng-switch-when="FOLLOWING">
            {{model.following}}
        </div>
    </div>
</div>
</div>