

<nav class=" navbar navbar-default navbar-fixed-top">

    <div class="row container-fluid">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="navbar-text pull-left" >
                <a>
                    <span class="glyphicon  glyphicon-user"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="">
                    PROFILE
                </a>
            </div>

        </div>
        <div class="col-xs-1 hidden-lg hidden-md hidden-sm">
            <div class="navbar-text pull-left" >
                <a>
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    COMMENTS
                </a>
            </div>


        </div>
    </div>
</nav>

<div class="container-fluid col-md-4 col-sm-4 hidden-xs vertical-line web-left-pane" >
        <div class="profile-edit-button">
            <a href="#/editProfile  "><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
        </div>
    <div class="row">
            <div class="square">
                <img src="../img/food.jpg" class="img-responsive img-circle content"/>

            </div>
    </div>

<h1 style="text-align: center">MONICA MALKANI</h1>
<br><br>
    <div class="container-fluid">
       <h3><a  ng-click="model.updateCurrentSelection('trackorder')">TRACK ORDER</a></h3>
        <h3><a ng-click="model.updateCurrentSelection('orderhistory')">ORDER HISTORY</a></h3>
        <h3><a ng-click="model.updateCurrentSelection('comments')">COMMENTS</a></h3>
    </div>
</div>



</div>

<div ng-switch="model.currentSelection" class="container-fluid col-md-8 col-sm-8 col-xs-12 web-right-pane">

    <div ng-switch-when="trackorder">
       TRACKK
    </div>
    <div ng-switch-when="orderhistory">
        <div ng-repeat="order in model.oldorders">
            {{order}}

        </div>
    </div>
    <div ng-switch-when="comments">
        <div ng-repeat="comment in model.comments.data">
            {{comment.feedback_giver_name}}
            {{comment.comment}}

        </div>
    </div>


</div>


<nav class=" navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <div class="navbar-text pull-right">
                <a>
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>

</nav>
