<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <input ng-model="searchLoc"
                   placeholder="Area"
                   type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <input ng-model="searchRes" type="text"
                       placeholder="Restaurant Name"
                       class="form-control">
                <span class="input-group-btn">
                <a ng-click="model.searchRestaurant(searchRes,searchLoc)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search widget-class"></span>
                </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row" ng-show="model.menu">
        <!--{{model.menu}}-->
        <table id="countTable" class="table table-striped">
            <tbody ng-repeat="category in model.menu.data">
            <tr>
                <th  >{{category.name}}</th>
            </tr>
            <tr>
                <th>Name </th>
                <th>Price</th>
                <th>QTY</th>
            </tr>
            <tr ng-repeat="order in category.items">
                <td>{{order.name}}</td>
                <td>{{order.basePrice}}</td>

                <td><a ng-click="model.addOrder({{order.name}},{{order.basePrice}})"
                       class="btn btn-default" type="button">
                    <span class=" glyphicon glyphicon-plus"></span>
                </a></td>

            </tr>
            <tr><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
</div>
