body {
	/*background-color: #21263B;*/
	overflow-x: hidden;
	padding-top: 64px;
}

#background-img {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/LandingPageBackground.jpeg") no-repeat center center fixed;
	background-size: cover;
	transform: scale(1.1);
	z-index: -1;
	-webkit-filter: blur(5px);
	-moz-filter: blur(13px);
	-o-filter: blur(13px);
	-ms-filter: blur(13px);
	filter: blur(1px);
	/*filter: brightness(50%);*/
}

.home-page-div
{
	margin-top:20%;
}
#Birthday{
	margin-left: -3%;
}
#title {
	font-family: 'Pacifico', cursive;
	color: #F0E2C1;
	text-shadow: 3px 6px 5px black;
	font-size: 8em;
	text-align: center;

	margin-bottom: 10%;
}
#home-page-title
{
	font-family: 'Pacifico', cursive;
	color: #F0E2C1;
	text-shadow: 3px 6px 5px black;
	font-size: 8em;
	text-align: center;
	margin-top: -10%;
	margin-bottom: 10%;
}

.homepage-btn{
	margin-bottom: 2%;
}

#datetimepicker4{
	margin-left: 2%;
}
.form-control {
	background-color: #F2F2F1;
}

#card {
	margin-top: 18%;
}

#card input {
	margin-top: 1em;
}

#card button {
	margin-top: 1em;

}

#login {
	
}

.register {
	margin-top: 1em;
}

#map {
	height: 100%;
}

.vertical-line{
	/* Use only border style */

	border-right: 1px inset;
	/* This is default border style for <hr> tag */
}
.web-left-pane{
	/*position: absolute;*/
	/*top:0px;*/
	/*bottom: 0px;*/
	/*margin-top: 60px;*/
	/*overflow: auto;*/


	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 15px;
	overflow: auto;
}
.web-right-pane {
	/*position: absolute;*/
	/*top:0px;*/
	/*bottom: 0px;*/
	/*margin-top: 60px;*/
	/*right: 0px;*/
	/*overflow-y: auto;*/

	position: absolute;
	top: 0px;
	right: 0px;
	padding-top: 15px;
	bottom: 0px;
	margin-bottom: 52px;
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
	overflow-y: auto;
}

.square {
	margin-left: 20%;
	border:0px;
	position: relative;
	text-align: center;
	width: 50%;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 2em;
}
.profile-edit-button
{text-align: right;
padding: 5px}
.profile-edit-button a
{text-align: right;
color:#999999}
.profile-edit-button a:hover
{ text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);}


.profile-card {
	background-color: #222222;
	margin-bottom: 20px;
	height: 98%;

}

.profile-pic {
	border-radius: 50%;
	position: absolute;
	top: -65px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	max-width: 100px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}


.profile-info {
	color: #BDBDBD;
	padding: 25px;
	position: relative;
	margin-top: 15px;
}

.profile-info h2 {
	color: #E8E8E8;
	letter-spacing: 4px;
	padding-bottom: 12px;
}

.profile-info span {
	display: block;
	font-size: 12px;
	color: #4CB493;
	letter-spacing: 2px;
}

.profile-info a {
	color: white;
	text-decoration:none;
}
.profile-info i {
	padding: 15px 35px 0px 35px;
}

.menu-button
{
	background-color:  aquamarine;
	color: black;
}

.profile-card:hover .profile-pic {

	transform: scale(1.1);
}

.profile-card:hover .profile-info hr  {
	opacity: 1;
}




/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 52%;
	right: 52%;
	bottom: 0;
	background: #FFFFFF;
	border-radius: 50%;
	height: 3px;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
	left: 0;
	right: 0;
	height: 1px;
	background: #CECECE;
}

.media-list {
	padding-left: 0;
	list-style: none;
}

/*#wrapper*/
/*{*/
	/*margin-top: 16%;*/
/*}*/
a{
	cursor: hand;
}

.floating-btn {
	position: fixed;
	bottom: 5%;
	right: 5%;
	box-shadow: 5px 5px 5px #222222;
}
